### copyright: https://seahorse.littlefish.love
### 给12864屏幕增加新功能
### * 将菜单OctoPrint修改成Mainsail。
### * 紧急停机：任何状况下，都可以紧急停机
### * 关闭树莓派：在非打印状态下，可以关闭树莓派
### * 控制打印：在SD Card菜单下也可以控制，这里做了快接菜单。
###   * 暂停：只有在打印状态下，才显示这个菜单。
###   * 恢复：只有在暂停状态下，才显示这个菜单。
###   * 取消打印：只有在打印状态下，才显示这个菜单。
###


### shutdown pi
[delayed_gcode shutdown_machine]
gcode:
     {action_call_remote_method("shutdown_machine")}
initial_duration: 0.0



### menu octoprint ###
[menu __main __octoprint]
type: list
name: Mainsail

### 暂停打印
[menu __main __octoprint __pause]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Pause printing
gcode: 
    {action_respond_info('action:PAUSE')}
    M118 Pause printing
    #{ menu.exit() }  
    PAUSE

### 恢复打印
[menu __main __octoprint __resume]
type: command
#enable: {not printer.idle_timeout.state == "Printing"}
enable: {printer.print_stats.state == "paused"}
name: Resume printing
gcode:
   {action_respond_info('action:RESUME')}
    M118 Resume printing
    #{ menu.exit() }  
    RESUME

### 取消打印
[menu __main __octoprint __abort]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Abort printing
gcode:
    {action_respond_info('action:CANCEL_PRINT')}
    M118 Cancel printing
    #{ menu.exit() }  
    CANCEL_PRINT


### 紧急停机
[menu __main __octoprint __emergency]
type: command
enable: true
name: Emergency stop
gcode:
    {action_respond_info('Emergency stop')}
    M118 Emergency stop
    { menu.exit() }  
    { action_emergency_stop() }


### 关闭树莓派
[menu __main __octoprint __poweroff]
type: command
enable: {not printer.idle_timeout.state  ==  "Printing"}
name: Shutdown Pi
gcode:
     M117 Shutdown_RPI
     M118 Shutdown_RPI
     { menu.exit() }    
     UPDATE_DELAYED_GCODE ID=shutdown_machine DURATION=1 